{% extends "base.html" %}

{% block titulo %} NOTICIAS | INICIO {% endblock titulo %}

{% block contenido %}
    <H1>TODAS LAS NOTICIAS DEL PORTAL</H1>

    <form method="get" style="margin-left: 50px;">
        <input type="text" name="categoria" placeholder="Buscar categoría..." value="{{categoria_seleccionada}}">
        <button type="submit">Buscar</button>
    </form>

    <p>
        <a href="?">Limpiar filtros</a>
        <a href="?categoria=politica">Política</a>
        <a href="?categoria=tecnologia">Tecnología</a>
        <a href="?categoria=deportes">Deportes</a>
    </p>

    <!-- A mi me lleguen aca todas las noticias de la base de datos -->
    {% for noticia in noticias %}
        <h3><strong>{{noticia.titulo}}</strong></h3>
        <h4>{{noticia.subtitulo}}</h4>
        <small>Categorias: {{ noticia.categorias.all|join:', ' }}</small>
        <p>{{noticia.contenido}}</p>
        <hr>
    {% endfor %}

    <hr>
    <div>
        {% if noticias.has_previous %}
            <p><a href="?page={{noticias.previous_page_number}}">Anterior</a></p>
        {% endif %}

        <span>Página {{noticias.number}} de {{noticias.paginator.num_pages}}</span>

        {% if noticias.has_next %}
            <p><a href="?page={{noticias.next_page_number}}">Siguiente</a></p>
        {% endif %}
    </div>
{% endblock contenido %}