<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock titulo %}</title>
</head>
<body>
    <nav style="background-color: aquamarine;">
        <a href="{% url 'inicio' %}">Inicio</a>
        <a href="{% url 'apps.noticias:todas_las_noticias' %}">Noticias</a>
        <a href="{% url 'apps.eventos:todos_los_eventos' %}">Eventos</a>
        {% if request.user.is_authenticated %}
        <strong>| Hola, {{request.user.username}}</strong>
            <a href="{% url 'apps.authentication:logout' %}">Cerrar sesión</a>
        {% else %}
            <a href="{% url 'apps.authentication:login' %}">Iniciar sesión</a>
            <a href="{% url 'apps.authentication:register' %}">Registrate</a>
        {% endif %}
    </nav>
    <main>
        {% block contenido %}

        {% endblock contenido %}
    </main>
    <footer style="background-color: burlywood;">
        <hr>
        <p><strong>INFORMATORIO</strong></p>
        <p><strong>comisión siete | segunda etapa | Desarrollo Web</strong></p>
        <small>Todos los derechos reservados @FSCz</small>
        <hr>
    </footer>
</body>
</html>