<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRUEBA</title>
</head>
<body>
    <!-- VARIABLES -->
    <ul>
        {% for user in users %}
            <li>El nombre del usuario es: "{{ user.nombre }}"</li>

            {% if user.edad >= 18 %}
                <li>El usuario es mayor de edad ({{ user.edad }} años)</li>
            {% else %}
                <li>Es menor de edad.</li>
            {% endif %}

            <li>{{ user.estado_civil }}</li>

            {% if user.estudiante %}
                <li>El usuario {{user.nombre}} es estudiante</li>
            {% else %}
                <li>El usuario {{user.nombre}} NO estudia</li>
            {% endif %}
            
            <hr>
        {% endfor %}
    </ul>
    <p>{{ frutas|join:"/ " }}</p>
    <p>{{ num_decimal|floatformat:2 }}</p>
</body>
</html>