<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTICIAS | INICIO</title>
</head>
<body>
    <H1>TODAS LAS NOTICIAS DEL PORTAL :D</H1>

    <!-- <section>
        <h3>NOTICIA 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos pariatur officiis recusandae mollitia. Dolorum quos dignissimos maiores minima voluptate veritatis ea distinctio! Quaerat, cumque nisi eos alias maxime quidem nesciunt!</p>
    </section>
    <section>
        <h3>NOTICIA 2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos pariatur officiis recusandae mollitia. Dolorum quos dignissimos maiores minima voluptate veritatis ea distinctio! Quaerat, cumque nisi eos alias maxime quidem nesciunt!</p>
    </section>
    <section>
        <h3>NOTICIA 3</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos pariatur officiis recusandae mollitia. Dolorum quos dignissimos maiores minima voluptate veritatis ea distinctio! Quaerat, cumque nisi eos alias maxime quidem nesciunt!</p>
    </section>
    <section>
        <h3>NOTICIA 4</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos pariatur officiis recusandae mollitia. Dolorum quos dignissimos maiores minima voluptate veritatis ea distinctio! Quaerat, cumque nisi eos alias maxime quidem nesciunt!</p>
    </section>
    <section>
        <h3>NOTICIA 5</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos pariatur officiis recusandae mollitia. Dolorum quos dignissimos maiores minima voluptate veritatis ea distinctio! Quaerat, cumque nisi eos alias maxime quidem nesciunt!</p>
    </section>
    <section>
        <h3>NOTICIA 6</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos pariatur officiis recusandae mollitia. Dolorum quos dignissimos maiores minima voluptate veritatis ea distinctio! Quaerat, cumque nisi eos alias maxime quidem nesciunt!</p>
    </section> -->
</body>
</html>