<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    <h2>INGRESA a tu cuenta</h2>
    <form action="{% url 'apps.authentication:login' %}" method="post">
        {% csrf_token %}
        <p><input type="text" name="username" placeholder="Usuario" required autofocus></p>
        <p><input type="password" name="password" placeholder="Contraseña"></p>
        <button type="submit">Ingresar</button>
    </form>
</body>
</html>